<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>ArduinoServer</title>
	<link rel="icon" href="/Images/Logo.png">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/ClientStyles/MatrixStyle.css"/>
</head>
<body>
	<div class="container">
		<div class="form-group">
			<center>Arduino Console</center>
			<input type="text" class="form-control" id="TXTcmd"><br>
			<button id="BTNsendCommand" class="btn btn-primary">Enviar</button>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col">
				<center>Arduino LOG</center>
				<hr>
				<div class="overflow-auto"><pre class="overflow-auto"><pre id="log"></pre></div>
			</div>
			<div class="col">
				<center>Area do desenho :)</center>
				<hr>
				<div id="grade">
					
				</div>
				<button id="BTNclearGradeDots" class="btn btn-primary">Limpar</button>
				<button id="BTNsendGradeDots" class="btn btn-primary">Desenhar</button>
			</div>
		</div>
	</div>
	<script src="/ClientScripts/GeneralScript.js"></script>
	<script src="/ClientScripts/MatrixScript.js"></script>
	<script src="/ClientScripts/xhrScript.js"></script>
	<script>
		createGrade();
		updateLog();
		checkLogin();
		
		function checkLogin(){
			verifyLogin(getId(),function(){alert("Você está logado!")},function(){alert("Você está deslogado!")});
		}
		
		document.getElementById("TXTcmd").addEventListener("keyup",function(e){
			if(e.keyCode == 13){
				verifyLogin(getId(),function(){sendCommand(document.getElementById('TXTcmd').value);},function(){alert("Você está deslogado!")});
			}
		},false);
		
		document.getElementById("BTNsendCommand").addEventListener("click",function(e){
			verifyLogin(getId(),function(){sendCommand(document.getElementById('TXTcmd').value);},function(){alert("Você está deslogado!")});
		},false);
	
		
		document.getElementById("BTNsendGradeDots").addEventListener("click",function(e){
			verifyLogin(getId(),function(){sendDots(getGradeDots());},function(){alert("Você está deslogado!")});
		},false);
		
		document.getElementById("BTNclearGradeDots").addEventListener("click",function(e){
			clean();
		},false);
		
		function reclamar(){
			alert("Você precisa estar logado!");
		}
		
	</script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>